body
{
    margin:0;
}
.main-header-logo
{
  margin-right:10%;
  font-family: 'Monoton', cursive;

  
}
.main-header-logo a
{
    text-decoration: none;
    color:black;
font-weight:bold;
    font-size: 20px;
}

/* .main-header direct child */
 .main-header > div
{
    vertical-align: middle;
    display: inline-block;
}


.main-nav
{
    vertical-align: middle;
    display: inline-block;

}
.main-nav-items
{
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration: none;


}
.main-header
{
padding: 15px 10px;
background-color: #ddd;

}
.main-nav-item
{
    display: inline-block;
    margin: 0 15px;
}

.main-nav-item a
{
   text-decoration: none;
color:black;
   font-weight: bold;
}

.main-nav-item a:hover
{
color:grey;

}
.container
{
   
    float: left;
    width:70%;

}
.bag
{
    margin:25px;  
    width: 65%;
    height: 20%;
    float: left;
}
.bag2
{
    margin:25px;
    width: 65%;
    height: 20%;
    float: left;
}
 img
{
    float: left;
    width:15%;
    margin:35px;

padding: 2px;
}
.item-desc
{
    margin-top:50px;
    margin-left:15%;
    width:120%;
    padding:0;
    color:black;
    font-family: 'Ubuntu', sans-serif;
}
.item-desc a

{
    color:black;
    
    text-decoration: none;
}

span
{
    margin-left:10%;
}
.bag-button
{
    margin-left:65%;
}

.order
{
    margin:25px;
    width:25%;
    font-family: 'Varela Round', sans-serif;
    border:1px black dashed;
    float:right;
}
.order-desc
{
    margin-left:10px;
}

form.example input[type=text] {
    padding: 10px;
    border: 1px solid grey;
    float: left;
    width: 77%;
    margin-left:5px;
    background: #f1f1f1;
  }

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;

    font-size: 16px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
    }
    .coupons
    {
     
        margin-left:50px;
        margin-bottom:10px;

        
    }
           
       
      .button1{
        font-family: 'Ubuntu', sans-serif;
            background-color: white; 
            color: black; 
            border: 2px solid black;
            font-size:15px;
         font-weight:bold;
            cursor: pointer;
            border-radius:10px;
            padding: 4px 8px;       
          }
          .button1:hover {
            font-family: 'Ubuntu', sans-serif;
            background-color: grey;
            color: white;
           

             }
             .button2{
                font-family: 'Ubuntu', sans-serif;
                    background-color: white; 
                    color: black; 
                    border: 2px solid black;
                    font-size:15px;
         font-weight:bold;
                    cursor: pointer;  
                    border-radius:10px;  
                    padding: 4px 8px;          
                  }
                  .button2:hover {
                    font-family: 'Ubuntu', sans-serif;
                    background-color: grey;
                    color: white;    
                    font-weight:bold;     
                     
                  }
                
                  .footer{ 
                    clear:both;
              background-color: #333;
              color:white;
                  padding:14px 24px;  
                  text-align: center; 
                  font-family: 'Varela Round', sans-serif;
                }
                      .footer-text a{
                        text-decoration: none;
                        color:white;
                      }
                      .footer-text a:hover{
                        text-decoration: underline;
            
                      }    
                      .contain
                      {
                          margin-left:2%;
                          margin-top:2%;
                          display: grid;
                          grid-template-columns:25% 25% 25% 25%;
                      }
